@font-face{
    font-family:PTSans-Regular ;
    src: url(../fonts/PTsans/PTSans-Regular.ttf);
}
@font-face{
    font-family:PTSans-Bold ;
    src: url(../fonts/PTsans/PTSans-Bold.ttf);
}
*{
    font-family: PTSans-Regular;
    font-weight: 400;
    color: #010101 !important;
}
.bg-y-clr{
    background-color: #fcdb00 !important;
}
.y-clr{
    color: #fcdb00 !important ;
}
/* header start */
.menu{}
.menu ul li a{
    font-family: PTSans-Bold;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}
.menu ul li:last-child a{
    padding-right: 0 !important;
    margin-right: 0;
}
/* header end */
/* slider start */
.slide-sec{
    padding-bottom: 100px;
}
.slide-sec h1{
    margin-top: 70px;
}
.slide-sec h2{
    margin-top: 35px;
    margin-bottom: 30px;
}
.slide-sec .banner-icon{
    margin-top: 40px;
}
.c-title{
    font-family:PTSans-Bold  ;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}
.c-subtitle{
    font-size: 22px;
    color: #313841 !important;
    word-spacing: 1px;
}
.c-detail{
    color: #555555 !important;
}

.banner-icon ul li a{
    font-size: 50px;
    margin-left: 15px;
    transition: .5s;
}
.banner-icon ul li:first-child a{
    margin-left: 0;
}
.banner-icon ul li a:hover i{
    transform: scale(.8);
}
/* indicator */
.c-indicator{
    bottom: -80px;
}
.c-indicator [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/* slider end */

/* feature start */
.f-sec{
    padding-top: 110px;
    padding-bottom: 150px;
}
.f-sec h1{
    margin-bottom: 30px;
}
.feature-icon i{
    margin-top: 10px;
    font-size: 50px;
}
.feature-content h3{
    font-size: 22px;
    color: #313841;
}
.feature-content p{
    color: #898989;
}
.f-single{
    margin-top: 90px;
}

/* feature end */
/* footer start */
.footer-sec{
    padding-top: 110px;
    padding-bottom: 150px;
    background-color: #010101;
}
.footer-caption h4{
    color: #898989 !important;
    margin-top: 30px;
    margin-bottom: 40px;
}
.f-form{}
.f-form input{
    height: 50px;
    padding: 0 0 0 15px;
    border-radius: 5px;
    /* margin-right: 15px; */
}
.f-form input:focus{
    outline: none;
}
.footer-sec button{
    height: 50px;
    /* width: 15%; */
    font-family:  PTSans-Bold;
    font-weight: 700;
    text-transform: uppercase;
    /* padding: 10px 30px; */
}
.footer-caption .social-icon{
    margin-top: 50px;
    margin-bottom: 100px;
}
.social-icon ul li a{
    height: 38px;
    width: 38px;
    border-radius: 5px;
    transition: .4s;
}
.social-icon ul li a:hover i{
    transform: scale(.8);
}
.social-icon ul li a i{
    font-size: 30px;
}
/* .social-icon ul li  */
.footer-nav ul li a{
    color: white !important;
    padding: 0;
}
/* footer end */

